{% extends "base.html.twig" %}

{% block title %}
    {{ project_name }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Срок выполнения</th>
                        <th scope="col">Выполнена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.dueDate|date("d.m.Y") }}</td>
                            <td>{{ task.isCompleted ? 'Выполнена' : 'Не выполнена' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p><a title="Список проектов" href="{{ path("project_list") }}">Список всех проектов</a></p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}